*,
*::before,
*::after{
    margin: 0;
    padding: 0; 
}

html {
    scroll-behavior: smooth;
    scroll-snap-align: center;
    overflow-x: hidden;
}

body{
    width: 100vw;
    max-width: 100%;
    font-family: 'Playfair Display', serif;
}  

.start-page-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    background-color: hsla(0, 0.5%, 98%, 0.2);
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 10px 0;
    
}

ul{
    display: flex;
}

.start-page-menu-list{
    list-style: none;
}

.start-page-menu-links{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-left: 20px;
}

.openSea{
    border: 1px solid #cc9e48;
    border-radius: 10px;
    
    padding: 3px 8px;

    transition: all 0.4s;
}

.openSea:hover{
    background-color:#cc9e48;
}

.start-page-logo img{
    width: 50px;
    cursor: pointer;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
}

.content-title h1{
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.content-title span{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #cc9e48;
}

.title-line{
    height: 2px;
    width: 200%;
    border-radius: 10px;
    background-color: black;
    margin-top: 10px;
}

.photo-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0 10px 0 10px;
    margin-top:50px;
}

.photo-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32.5%;
}

.photo-column img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width:400px) and (max-width:650px){
    .start-page-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        width: 100vw;
        padding: 10px 0;
    }

    .main-content{
        width: 100vw;
        max-width: 100%;
    }

    .title-line{
        width: 110%;
    }
}

@media (max-width:399px){
    .photo-gallery{
        flex-direction: column;
    }

    .photo-column{
        width: 100%;
    }

    .title-line{
        width: 100%;
    }

    .main-content{
        width: 100vw;
        max-width: 100%;
    }

    .start-page-nav{
        width: 100vw;
    }

    .start-page-menu-links{
        margin-left: 10px;
        font-size: 16px;
    }

    .content-title h1{
        font-size: 2.5em;
    }
}