*,
*::before,
*::after{
    margin: 0;
    padding: 0; 
}

html {
    scroll-behavior: smooth;
    scroll-snap-align: center;
    overflow-x: hidden;
  }

body{
    width: 100vw;
    max-width: 100%;
}  

.main-content{
    padding: 50px 150px;

    
}

.main-content-title{
    text-align: center;
}

.main-content-imgs{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

img{
    margin-right: 10px;
    cursor: pointer;
}

.imgbatumi img{
    width: 500px;
    height: auto;
}

.jstoggle.active{
    width: 100%;
    height: auto;
}
.imgbatumiup img{
    width: 500px;
    height: auto;
    margin-top: -8px;
}

.fix1{
    margin-top: -20px;
}

.img1 img{
    width: 500px;
    height: auto;
}

.img2 img{
    width: 500px;
    height: auto;
}

.img3 img{
    height: 65%;
    width: auto;
    margin-top: -30px;
}

.img4 img{
    height: 65%;
    width: auto;
    margin-left: -120px;
    margin-top: -30px;
}

.img5 img{
    width: 500px;
    height: auto;

    position:absolute;
    margin-left: -130px;
    margin-top: 21px;
}

.img6 img{
    width: 96.5%;
    height: auto;

    margin-top: -220px;
}

.img7 img{
    width: 96.5%;
    height: auto;
}