*,
*::before,
*::after{
    margin: 0;
    padding: 0; 
}

html {
    scroll-behavior: smooth;
    scroll-snap-align: center;
   
  }

body{
    width: 100vw;
    max-width: 100%;
}  

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px 0 10px;
}

.photo-column{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.photo-column img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
