
/* main container */
.gallery-wrap{
    display: grid;
    grid-template-columns: repeat(3, auto) !important;
    grid-auto-rows: 300px;
    gap: 20px;

    padding: 50px;
}

body.modal-open {
    overflow: hidden;
  }

/* simgle image container */
.thumbnail{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

/* image thumbnail */
.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: all 0.4s ease;

}

/* image thumbnail cover */
.thumbnail img:hover{
    transform: scale(1.1);
    transition: all 0.4s ease;
}

/* full screen */

/* full screen container */
.sliderWrap{
    top: 0;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* overlay background */
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
}

/* buttons */
.buttonHandler{
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;
}

.arrowLeft{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: 150px;
    width: 32px;
    cursor: pointer;
}

.arrowRight{
    position: absolute;
    width: 32px;
    top: 50%;
    right: 150px;
    transform: rotate(180deg) translate(-50%);  
    cursor: pointer;  
}

.closeBtn{
    position: absolute;
    width: 24px;
    right: 50px;
    top:25px;
    cursor: pointer;
}

/* full screen image */
.fullScreenImage{
    position: absolute;
    
    max-width: 100%;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fullScreenImage img{
    width: 100%;
    max-height: 500px;
    border-radius: 10px;
}

.galleryTitle{
    width: fit-content;
    margin: auto;
    font-weight: 700;
    font-size: 70px;
    font-family: 'Montserrat';
    color: white;
    margin-top: 50px;
    margin-bottom: 25px;
}

.sliderNUmber{
    position: absolute;
    z-index: 8;
    bottom:30px;
    color: #fff;
    left: 50%;
    transform: translate(-50%);
}


.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    font-family: 'Montserrat';
    color: white;
    cursor: pointer;
}

.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.custom-loader {
    width: 40px;
    height: 40px;
    --c: linear-gradient(#F4F4F4 0 0);
    --r1: radial-gradient(farthest-side at bottom,#F4F4F4 93%,#0000);
    --r2: radial-gradient(farthest-side at top   ,#F4F4F4 93%,#0000);
    background: 
      var(--c) ,
      var(--r1),
      var(--r2),
      var(--c) ,  
      var(--r1),
      var(--r2),
      var(--c) ,
      var(--r1),
      var(--r2);
    background-repeat: no-repeat;
    animation: db2 0.8s infinite alternate;
  }
  
  @keyframes db2 {
    0%,25% {
      background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
   }
   50% {
      background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
   }
   75% {
      background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
   }
   95%,100% {
      background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
   }
  }


@media (max-width:1200px) {
    .gallery-wrap{
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: 150px;
        gap: 10px;
        padding-top:30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .fullScreenImage{
        width: 95%;
    }

    .arrowLeft{

        left: 35%;
        top: 85%;

    }
    
    .arrowRight{
        right: 35%;
        top: 85%;
    }

    .sliderNUmber{
        top: 86.25%;
    }
    
    .closeBtn{
        right: 25px;
    }

    .galleryTitle{
        font-size: 30px;
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .fullScreenImage img{
        width: auto;
        margin: auto;
        max-width: 100%;
        max-height: 400px;
        border-radius: 10px;
    }
}