@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('./components/font/Montserrat.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./components/font/OpenSans.ttf');
  font-display: swap;
}

*{
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #212121;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg{
  background: linear-gradient(225deg, #1e1e1e, #232323);
}

@media (max-width:769px) {
  .bg{
    background: #212121c0;
  }

  body{
    scroll-behavior: smooth;
    scroll-snap-align: center;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
  }

  .gallery{
    
    scroll-snap-type: x mandatory;
  }

  /* .gallery::-webkit-scrollbar{
    width: 0px;
    height: 0px;
  } */

 
}
.imgclass{
  height: 500px;
}
.gallery{
  overflow: auto;
}

.gallery::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

.gallery::-webkit-scrollbar-track{
  background-color: transparent;
}

.gallery::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 10px;
}


.img-responsive{
  width: 350px !important;
}

.gallery-item {
  margin: 25px;
  width: 350px !important;
}

.burgerMenu{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}




.dashboard{
  width: 100%;
  padding: 20px 10px 20px 10px;
  background-color: #212121;
  color: white;
  position: absolute;
  top: 80px;
  right: -100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;

  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);


  transition: all 0.4s ease;
}

.dashboard_active{
  right: 0;
  transition: all 0.4s ease;
}