@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('./components/font/Montserrat.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./components/font/OpenSans.ttf');
  font-display: swap;
}

*{
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.bg{
  background: linear-gradient(225deg, #1e1e1e, #232323);
}

@media (max-width:769px) {
  .bg{
    background: #212121c0;
  }
}